body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 45px;
}
.orange-highlight{
    color: #EC4C7A;
    font-size: 70px;
    letter-spacing:5px;
}

p{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 5px;
}
section{
    height: 750px;
    width: 100%;
   

}
.top-banner{
    width:100%; 
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;
    padding-bottom: 150px;
}

.half-width-left{
    width: 40%;
    float: left;
    margin-left: 5%; 
    padding-top: 220px;
    padding-left: 70px;
    
}

.half-width-right{
    width: 40%;
    margin-left:5%; 
    overflow:hidden;
    
   
}

.half-width-right img{
    width: 100%;
    height: 800px;
}

.half-width-left img {
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato); 
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight:700;
    font-size: 23px;
}

.biography-part{
    width:100%;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}

.left-bg-width{
    width: 40%;
    float: left;
    margin-right: 10%;
}

.right-bg-width{
    width: 40%;
    padding-top: 225px;
    margin-left:5%;
    overflow: hidden;
}

.left-bg-width img{
    width: 100%;
    height: 850px;
}

.project-work{
    background-image: url("images/latest-work-bg.png");
    background-repeat:no-repeat;
    background-position: center;
    width:100%;
    padding-bottom:100px;
}
.work-container{
    width: 100%;
    
}
.work-container img{
    width:100%;
}

.first-project{
    width: 25%;
    margin-left: 10.5%;
    float: left;
    
}
.second-project{
    width: 25%;
    margin-left:2%;
    margin-right:2%;
    overflow: hidden;
    float:left;
   
}

.third-project{
    width: 25%;
    margin-right: 10.5%;
    overflow: hidden;
  
}

.project-work h1{
    text-align: center;
}


